.contact-heading{
    margin: 2% auto 0;
  color: #f44336;
  font-weight: bold;
  border-bottom: 2px solid #130f40;
}

.contact-form-div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 430px;
    height: auto;
    text-align: center;
    color: #f44336;
    padding: 10px;
}
.input-tag{
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #f44336;
    border-right:1px solid #f44336;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    appearance: none;
    padding: 10px;
    caret-color: #f77f00;
    color:#f44336;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    box-shadow:  inset 5px 5px 11px#858585,
            inset -5px -5px 10px #ffffff;
}
.text-area-tag{
    resize:none;
}

.btn-class{
    border: 0;
    outline: 0;
    color:#f44336;
    background-color: white;
    border-radius:20px ;
  font-weight: bold;
  box-shadow: -5px -5px 20px #858585,
              5px 5px 20px #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width:100%;
  padding: 10px;
  font-size: 25px;
  margin: 15px 0px 15px 0px;
}
.btn-class:hover{
    box-shadow: -2px -2px 5px #885588
    , 2px 2px 5px #ffffff;
}

@media screen and (max-width:360px){
    .contact-heading{
        font-size: 30px;
    }
    .contact-form-div{
        width: 100%;
    }
    .contact-form-div{
        padding:20px
    }
    .input-tag{
        font-size: 20px;
        padding: 10px;
    }
    .btn-class{
        font-size: 20px;
        margin:15px 0px 0px 0px;
    }
    .text-area-tag{
        margin-bottom: 0px;
    }
}
@media screen and (max-width:420px){
    .contact-heading{
        font-size: 30px;
    }
    .contact-form-div{
        width: 100%;
    }
    .contact-form-div{
        padding:15px
    }
    
}
@media screen and (max-width:320px){
    .contact-heading{
        font-size: 25px;
    }
    .contact-form-div{
        width: 100%;
    }
    .contact-form-div{
        padding:10px
    }
}