/*  color - blue ::::  #130f40
color  orange ::::    #f44336  */

.skill-heading{
    margin:10px auto;
    color: #f44336;
    font-weight: bolder; 
    border-bottom: 2px solid #130f40 ; 
    letter-spacing: 4px;
}

.skill-pic{
    width: 80%;
    margin: 10%;
}
.skill-text{
    text-align: center;
}
.skill-text-div{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.skill-text{
    font-weight: bolder;
    margin: 4%;
}
.skill-text:hover{
    transition: .5s;
    color: #f44336;
    letter-spacing: 2px;
}

@media only screen and (max-width: 420px){
    .skill-text{
        font-size: 30px;
    }
}
@media only screen and (max-width: 360px){
    .skill-text{
        font-size: 25px;
    }
}
@media only screen and (max-width: 320px){
    .skill-text{
        font-size: 20px;
    }
    .skill-heading{
        font-size:35px ;
    }
}